body
{
    background-color:#FFCC66;
    background-image:url('20210517_163133.jpg');
    background-image:"size:150%";
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:100% 100%;
}
label
{
    font-size:150%
}
h1
{
    text-align:center;
    color:#00008B;
    animation-name:jos;
    animation-duration:4s
}
@keyframes jos
{
  0%   {color: red;}
  25%  {color: orange;}
  50%  {color: blue;}
  100% {color: green;}
}

marquee
{
    color:red;
    animation-name:love;
    animation-duration:9s
}
button
{
    height:"50";
    align="center"
}
@keyframes love
{
  0%   {color: red;}
  25%  {color: orange;}
  50%  {color: blue;}
  100% {color: green;}
}
aside
{
  width: 30%;
  padding-left: 25px;
  margin-left: 25px;
  float: right;
  background-color: lightgray;
}
footer
{
    color:white;
    text-align:center;
    background-color:gray
}