body
{
    background-color:#FFCC66;
    background-image:url('20210517_163133.jpg');
    background-image:"size:50%";
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:100% 100%;
}
.button{
    background-color:white;
    color:black;
    text-align:center;
    font-size:16px;
    transition-duration:0.5s;
    cursor:pointer;
    border:2px solid black;
    float:center;
    margin:2px 2px;
}
.button:hover{
    background-color:gray;
    color:white;
}
button
{
    align:center;
    text-align:center;

}
label
{
    font-size:150%;
}
input
{
    padding:0 0;
}
h1
{
    text-align:center;
    color:#00008B;
    animation-name:jos;
    animation-duration:4s
}
@keyframes jos
{
  0%   {color: red;}
  25%  {color: orange;}
  50%  {color: blue;}
  100% {color: green;}
}

marquee
{
    color:red;
    animation-name:love;
    animation-duration:9s
}
@keyframes love
{
  0%   {color: red;}
  25%  {color: orange;}
  50%  {color: blue;}
  100% {color: green;}
}
section
{
  width: 40%;
  padding-left: 25px;
  margin-left: 25px;
  float: left;
  background-color: lightgray;
  
}
footer
{
    color:white;
    text-align:center;
    background-color:gray;
    padding:5px
}